@import 'partials/variables.scss';

// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// vendor
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@700&display=swap');

// tipografia
body{
    font-family: $font-primary;
    color: #e2e2e2;
}


// mix

// colors
.primary-color{
    color: $primary-color;
}
.secondary-color{
    color: $secondary-color;
}
.bg-primary-color{
    background-color: $primary-color;
}
.bg-secondary-color{
    background-color: $secondary-color;
}
.bg-terziary-color{
    background-color: $terziary-color;
}

.bg-terziary-color-bordertop{
    background-color: $terziary-color;
    border-top: 3px solid $primary-color;
}

// fonts
.primary-font{
    font-family: $font-primary;
}

.secondary-font{
    font-family: $font-secondary;
}

h3{
    font-family: $font-primary;
    color: $secondary-color;
    text-transform: uppercase;
    text-align: center;
}

p{
    font-family: $font-secondary;
    color: #666666;
    font-size: 14px;
    text-align: center;
    line-height: 27px;
    margin: 20px 0;
   
}


.container{
    min-width: 1080px;
    display: flex;
}